extends ../layout

block title
  | List businesses

block content

  each business in businesses
    - var d = dateShortMon(business.createdAt)
    - var raw = beautyJSON(business.json)

    .container
      .row
        .span12
          h1=business.json.name
      .row
        .span2
          small
            p
              b
              | Found: #{d}
        .span10
           pre!= raw

